{% extends "base.html" %}

{% block title %}
Index page
{% endblock %}

{% block body %}
    <ul>
        <li><a href="/cluster">Cluster filter</a></li>
        <p>Convolutional filters</p>
        <li><a href="/blur">Blur filter</a></li>
        <li><a href="/weakblur">Weak blur filter</a></li>
        <li><a href="/emboss">Emboss filter</a></li>
        <li><a href="/sharpen">Sharpen</a></li>
        <li><a href="/edgeenhance">Edge enhance</a></li>
        <li><a href="/edgedetect1">Edge detect 1</a></li>
        <li><a href="/edgedetect2">Edge detect 2</a></li>
        <li><a href="/horizontallines">Horizontal lines</a></li>
        <li><a href="/verticallines">Vertical lines</a></li>
    </ul>
{% endblock %}