{{template "BeforeTitle"}}
Index page
{{template "AfterTitle"}}
    .card {
        background-color: #2e3338;
        border: 1px solid rgb(0, 0, 0);
        border-radius: .5rem;
        margin-bottom: 1rem;
        display: inline-block;
    }
    h2 {
        color: #fff;
        background-color: #3e444c;
        background-image: linear-gradient(to bottom, #51565d 0%, #3e444c 100%);
        text-align: center!important;
        padding: .75rem 1.25rem;
        font-size: 1.3rem;
        margin-top: 0;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-bottom: 1px solid rgba(0, 0, 0, 0.875);
    }
    .card-content {
        padding: .5rem;
        margin-top: -20px;
    }
    p {
        padding: .01rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
    }
    .filter-link {
        text-align: center;
        display: inline-block;
    }
{{template "BeforeBody"}}
    <div class="card">
        <h2>Convolutional filters</h2>
        <div class="card-content">
            <div class="filter-link">
                <p><a href="/blur"><img src="/img/static/blur.png"><p class="title">Blur filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/weakblur"><img src="/img/static/weakblur.png"><p class="title">Weak blur filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/emboss"><img src="/img/static/emboss.png"><p class="title">Emboss filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/sharpen"><img src="/img/static/sharpen.png"><p class="title">Sharpen filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/edgeenhance"><img src="/img/static/edgeenhance.png"><p class="title">Edge enhance filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/edgedetect1"><img src="/img/static/edgedetect1.png"><p class="title">Edge detect 1</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/edgedetect2"><img src="/img/static/edgedetect2.png"><p class="title">Edge detect 2</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/horizontallines"><img src="/img/static/horizontallines.png"><p class="title">Horizontal lines</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/verticallines"><img src="/img/static/verticallines.png"><p class="title">Vertical lines</p></a></p>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Style transfers</h2>
        <div class="card-content">
            <div class="filter-link">
                <p><a href="/lamuse"><img src="/img/static/lamuse.png"><p class="title">La muse</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/scream"><img src="/img/static/scream.png"><p class="title">Scream</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/udnie"><img src="/img/static/udnie.png"><p class="title">Udnie</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/wave"><img src="/img/static/wave.png"><p class="title">Wave</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/wreck"><img src="/img/static/wreck.png"><p class="title">Wreck</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/rain_princess"><img src="/img/static/rain_princess.png"><p class="title">Rain princess</p></a></p>
            </div>
        </div>
    </div>
    <div class="card">
        <h2>Other filters</h2>
        <div class="card-content">
            <div class="filter-link">
                <p><a href="/shader"><img src="/img/static/cluster.png"><p class="title">Shader filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/cluster"><img src="/img/static/cluster.png"><p class="title">Cluster filter</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/hilbert"><img src="/img/static/hilbert.png" style="width: 128px;height: 128px;"><p class="title">Hilbert curve</p></a></p>
            </div>
            <div class="filter-link">
                <p><a href="/hilbertdarken"><img src="/img/static/hilbertdarken.png" style="width: 128px;height: 128px;"><p class="title">Hilbert darken</p></a></p>
            </div>
        </div>
    </div>
{{template "AfterBody"}}