{{template "BeforeTitle"}}
Last queries
{{template "AfterTitle"}}
    .history>img {
        max-height: 500px;
    }
    span.description {
        color: rgb(200, 200, 200);
        text-decoration: cadetblue;
    }
{{template "BeforeBody"}}
{{$data := .}}
{{range $imageId, $resultFilename := .ResultImages}}
<div class="history">
    <span class="description">{{$imageId}}</span><br>
    <img src="{{index $data.SourceImages $imageId}}">
    <img src="{{$resultFilename}}">
    <br>
</div>
{{end}}
{{template "AfterBody"}}
