{{template "BeforeTitle"}}
Shader filter
{{template "AfterTitle"}}
form {
    margin-left: .5rem;
    margin-top: .5rem;
    background-color: #2e3338;
    padding: 1rem;
    padding-top: .75rem;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: .3rem;
}
.label {
    color: #fff;
}
.text {
    margin: .75rem;
}
.text:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.button {
    margin-right: .75rem;
    float: right;
}
{{template "BeforeBody"}}
<div style="display: flex;">
<span>
    <form method="POST">
        <div class="label">Image url: 
            <input class="text" type="text" name="url" style="width: 600px">
<span>
<p>
    <div class="label">
        <div>Fragment shader source:</div>
        <textarea name="fragment_shader_source" style="width: 500pt; height: 400pt;"></textarea>
    </div>
</p>
</span>

        </div>
        <input class="button" type="submit">
    </form>
</span>
<span style="padding-left: 30pt; color: white;">

<h3>coloring</h3>
<p>
#version 330<br>
<br>
uniform sampler2D source;<br>
in vec2 outTexCoords;<br>
<br>
void main() {<br>
&nbsp;&nbsp;&nbsp;&nbsp;vec3 outColor = vec3(0.3, 0.1, 0.2);<br>
&nbsp;&nbsp;&nbsp;&nbsp;gl_FragColor = texture(source, outTexCoords) * vec4(outColor, 1.0f);<br>
}
</p>
<hr>

<h3>color inversion</h3>
<p>
#version 330<br>
<br>
uniform sampler2D source;<br>
in vec2 outTexCoords;<br>
<br>
void main() {<br>
&nbsp;&nbsp;&nbsp;&nbsp;gl_FragColor = vec4(1., 1., 1., 2.) - texture(source, outTexCoords);<br>
}
</p>
<hr>

<h3>RGB</h3>
<p>
#version 330<br>
<br>
uniform sampler2D source;<br>
in vec2 outTexCoords;<br>
<br>
void main() {<br>
&nbsp;&nbsp;&nbsp;&nbsp;ivec2 textureSize2d = textureSize(source, 0); // Width and height of texture image<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;vec2 uv = gl_FragCoord.xy / textureSize2d;<br>
&nbsp;&nbsp;&nbsp;&nbsp;vec3 color;<br>
&nbsp;&nbsp;&nbsp;&nbsp;if (uv.x < 1./3.) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color = vec3(1., 0., 0.);<br>
&nbsp;&nbsp;&nbsp;&nbsp;} else if (uv.x < 2./3.) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color = vec3(0., 1., 0.);<br>
&nbsp;&nbsp;&nbsp;&nbsp;} else {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;color = vec3(0., 0., 1.);<br>
&nbsp;&nbsp;&nbsp;&nbsp;}<br>
&nbsp;&nbsp;&nbsp;&nbsp;gl_FragColor = vec4(texture(source, outTexCoords).rgb * color, 1.);<br>
}
</p>
<hr>

<h3>remove body color</h3>
<p>
#version 330<br>
<br>
uniform sampler2D source;<br>
in vec2 outTexCoords;<br>
<br>
void main() {<br>
&nbsp;&nbsp;&nbsp;&nbsp;// TODO: smooth<br>
&nbsp;&nbsp;&nbsp;&nbsp;vec4 c = texture(source, outTexCoords);<br>
&nbsp;&nbsp;&nbsp;&nbsp;float threshold = 60. / 255.;<br>
&nbsp;&nbsp;&nbsp;&nbsp;if (abs(c.r - 74./255.) < threshold && abs(c.g - 38./255.) < threshold && abs(c.b - 26./255.) < threshold) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c = vec4(vec3((c.r + c.g + c.b) / 3.), 1.);<br>
&nbsp;&nbsp;&nbsp;&nbsp;}<br>
&nbsp;&nbsp;&nbsp;&nbsp;gl_FragColor = c;<br>
}
</p>
<hr>

<h3>mirror horizontally</h3>
<p>
#version 330<br>
<br>
uniform sampler2D source;<br>
in vec2 outTexCoords;<br>
<br>
void main() {<br>
&nbsp;&nbsp;&nbsp;&nbsp;ivec2 textureSize2d = textureSize(source, 0); // Width and height of texture image<br>
&nbsp;&nbsp;&nbsp;&nbsp;vec2 coords;<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;if (gl_FragCoord.x / textureSize2d.x < 0.5) {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coords = vec2(textureSize2d.x - outTexCoords.x, outTexCoords.y);<br>
&nbsp;&nbsp;&nbsp;&nbsp;} else {<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coords = outTexCoords;<br>
&nbsp;&nbsp;&nbsp;&nbsp;}<br>
&nbsp;&nbsp;&nbsp;&nbsp;gl_FragColor = texture(source, coords);<br>
}
</p>

</span>
</div>
    <p>
        {{.Message}}
    </p>
    <img src="{ image_file }">
{{template "AfterBody"}}
